.myBackground {
    background-image: url("../images/hero-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blurryBackground {
    position: relative;
    background: rgba(0, 0, 0, 0.25);
    overflow: hidden;

    border-radius: 10px;
}

.round-border {
    border-radius: 10px;
}